%% -*- mode: erlang -*-

{sub_dirs, ["apps/util", "apps/blackboard", "apps/modum_core"]}.

{deps, [{xmlrpc, ".*", {git, "https://github.com/etnt/xmlrpc.git"}},
		{erlsom, ".*", {git, "https://github.com/willemdj/erlsom.git"}},
		{eplot, ".*", {git, "https://github.com/psyeugenic/eplot.git"}},
		{concurix_runtime, ".*", {git, "https://github.com/Concurix/cx_runtime.git"}},
		{yaws, ".*", {git, "git://github.com/klacke/yaws"}},
		{detergent, ".*", {git, "git://github.com/devinus/detergent.git"}}]}.

{cover_enabled, true}.
