{sys, [
       {lib_dirs, ["../../../apps/","../../../deps/"]}, % add path to your applications here
       {rel, "modum_core", "1",
        [
         kernel,
         stdlib,
         sasl,
		 modum_core
        ]},
	   {rel, "start_clean", "1", [kernel, stdlib]},
       {boot_rel, "modum_core"},
       {profile, embedded},
       {app, modum_core, [{incl_cond, derived}]}
      ]}.